#modal{
    display: none;
    width: 100vw;
    height: 100vh;
    background: gray;
    position: relative;
    z-index: 2;
}

#content{
    background-color: antiquewhite;
    width: 300px;
    height: 200px;
    position: relative;
    top: 30%;
    left: 40%;
}

.hide{
    display: none;
}

.show{
    display: block !important;
}

.red {
    background: red;
}

.green{
    background: green;
}

.blue{
    background: blue;
}

.white{
    background:darkgrey;
}

.active{
    background: lightgrey;
}
