extends layout

block content
    h1 Все курсы академии
    a.btn.btn-primary(href="/courses/add") Создать новый курсы
    table.table.table-striped
        thead
            tr
                th Id Курса
                th Курс
                th
                th
        tbody
            each course in courses
                tr
                    td=course.id
                    td=course.name
                    td(style="width: 50px;"): a(href="/courses/edit/" + course.id)
                        span.glyphicon.glyphicon-pencil
                    td(style="width: 50px"): a(href="/courses/delete/" + course.id)
                        span.glyphicon.glyphicon-remove