extends layout

block content
    h1 Все курсы академии

      form(method="post")
        fieldset.form-group
            label(for="name") Name:
            input.form-control(name="name", id="name", type="text", placeholder="Введите название курса")
            small.text-muted Добавьте свой новый курс
        button.btn.btn-primary(type="submit") Создать курс
        a.btn.btn-default(href="/courses") Отмена    