<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/style.css')
    body
        nav.navbar-inverse
            .container
                #navbar.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.active   
                            a(href='/') Домой
                        li
                            a(href='/courses') Курсы
        .container
            .main-content
                block content