    .form-container{

        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0 auto;
        font-family: sans-serif;
    }

    h2{
        text-align: center;
    }

    form{
        flex-basis: 70vh;
        padding: 2em;
        background: #fff;
        box-shadow: 0 0 2em rgba(0,0,0,0.20);
        border-radius: 0.50em;
    }

    input{
        padding: 0.5em;
        font-size: 0.875em;
        background: #f4f4f4;
        border: 1px solid #ccc;
        border-width: 1px 1px 1px 0;
        border-radius: 0;
    }

    input:focus{
        background: #fff;
        box-shadow: inset 0.1em 0.1em 0.25em rgba(0,0,0,0.2);
    }

    .form-field{
        margin-bottom: 1em;
        display: flex;
    }

    .form-field label{
        flex: 0 1 4em;
        padding: 1em 2em;
        background: #fff;
        border: 1px solid #ccc;
        font-size: 0.75em;
        text-align: center;
        text-shadow: 0 1px 0 #fff;
        line-height: 1;
        border-radius: 0.25em 0 0 0.25em;
    }

    .form-field input{
        flex-grow: 1;
    }

    .input-right input, .multy-input input:last-child{
        border-radius: 0 0.25em 0.25em 0;
    }

    .submit-field{
        flex-direction: row;
        justify-content: center;
    }

    input[type="button"]{
        flex: 0 1 40%;
        padding: 0.8em;
        font-size: 1.2rem;
        background: #689CD2;
        border-radius: 0.25em;
        border: 0;
        transition: 0.3s;
        cursor: pointer;
    }

    input[type="button"]:hover{
        color: #fff;
    }

