<%- include layouts/header.ejs %>
<form action="/customers/add" method="post" class="col-md-4">
    <div class="form-group">
        <label for="name">Имя</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name" type="text" name="name" required>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Адрес</label>
        <textarea name="address" class="form-control" required cols="30" rows="3"></textarea>
    </div>
    <div class="formg-roup">
        <label for="exampleInputEmail1">Email</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="e-mail" name="email">
    </div>
    <div class="form-group">
            <label for="exampleInputEmail1">Телефон</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Телефон" name="phone">
        </div>
    <button type="submit" class="btn btn-default" name="submit" value="Save">Добавить</button>
    <button type="submit" class="btn btn-default" name="submit" value="Cancel" onclick="window.location.href='/customers';">Отменить</button>
</form>
<%- include layouts/footer.ejs %>