<%- include layouts/header.ejs %>
<table class="table table-bordered">
    <tr>
        <tr width="50px">Номер</tr>
        <tr>Имя</tr>
        <tr>Адресс</tr>
        <tr>email</tr>
        <tr>Телефон</tr>
        <tr>Действия</tr>
    </tr>
    <% if(data.length) {
        for(var i = 0; i < data.length; i++){ %>
            <tr>
                <td><%= (i+1) %></td>
                <td><%= data[i].name %></td>
                <td><%= data[i].adress %></td>
                <td><%= data[i].email %></td>
                <td><%= data[i].phone %></td>
                <td>
                    <a href="../customers/edit/<%= data[i].id%>" class="btn btn-success">Изменить</a>
                    <button type="button" class="btn btn-danger">
                    <a href="../customers/delete/<%= data[i].id %>">Удалить</a>
                    </button>
                </td>
            </tr>
        <% } 
    }
        else{ %>
        <tr>
            <td colspan="3">Пользователей нет</td>
        </tr>
        <% } %>
</table>
<div class="data-btn">
    <button type="button" class="btn btn-default btn-sm col-md-1 col-md-offset-11"
            onclick="window.location.href='/customers/add';">Добавить</button>
</div>