<%- include layouts/header.ejs %>
<form action="/customers/edit/<%= data[0].id %>" method="post" class="col-md-4">
    <div class="form-group">
        <label for="name">Имя</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name" type="text" name="name" required
        value="<%= data[0].name %>">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Адрес</label>
        <textarea name="address" class="form-control" required cols="30" rows="3">
            <%= data[0].address %>
        </textarea>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="e-mail", name="email"
        value="<%= data[0].email %>">
    </div>
    <div class="form-group">
            <label for="exampleInputEmail1">Телефон</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Телефон" name="phone"
            value= <%= data[0].phone %>>
        </div>
    <button type="submit" class="btn btn-default" name="submit" value="Save">Добавить</button>
    <button type="submit" class="btn btn-default" name="submit" value="Cancel" onclick="window.location.href='/customers';">Отменить</button>
</form>
<%- include layouts/footer.ejs %>