<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h3><%= title %></h3>
        </div>
        <img src="img/logo.png" alt="" onclick="window.location.href='/customers';">